node_modules
.env
dist
docs

# user profile image
uploads/user/images/*
!uploads/user/images/.gitkeep

uploads/product/images/*
!uploads/product/images/.gitkeep

uploads/category/images/*   
!uploads/category/images/.gitkeep       

uploads/review/images/*
!uploads/review/images/.gitkeep

logs/*
!logs/.gitkeep

memory-bank